@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?bbw4e4');
    src: url('../fonts/icomoon.eot?bbw4e4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?bbw4e4') format('truetype'), url('../fonts/icomoon.woff?bbw4e4') format('woff'), url('../fonts/icomoon.svg?bbw4e4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
    content: "\e919";
}

.icon-prev:before {
    content: "\e91a";
}

.icon-feather-info:before {
    content: "\e916";
    color: #dd963b;
}

.icon-card-text:before {
    content: "\e915";
    color: #005848;
}

.icon-images:before {
    content: "\e917";
    color: #005848;
}

.icon-pencil-square:before {
    content: "\e918";
    color: #005848;
}

.icon-menu:before {
    content: "\e904";
    color: #fff;
}

.icon-close:before {
    content: "\e914";
    color: #fff;
}

.icon-profile:before {
    content: "\e913";
    color: #fff;
}

.icon-list:before {
    content: "\e912";
    color: #fff;
}

.icon-web:before {
    content: "\e900";
    color: #fff;
}

.icon-settings:before {
    content: "\e901";
    color: #fff;
}

.icon-tv:before {
    content: "\e902";
    color: #fff;
}

.icon-twitter:before {
    content: "\e903";
    color: #fff;
}

.icon-right-arrow:before {
    content: "\e905";
    color: #fff;
}

.icon-plus:before {
    content: "\e906";
    color: #fff;
}

.icon-play:before {
    content: "\e907";
    color: #fff;
}

.icon-instagram:before {
    content: "\e908";
    color: #fff;
}

.icon-meine-praxis:before {
    content: "\e909";
    color: #fff;
}

.icon-facebook:before {
    content: "\e90a";
    color: #fff;
}

.icon-hand-thumbs-down:before {
    content: "\e90b";
    color: #fff;
}

.icon-hand-thumbs-up:before {
    content: "\e90c";
    color: #fff;
}

.icon-house:before {
    content: "\e90d";
    color: #fff;
}

.icon-information:before {
    content: "\e90e";
    color: #fff;
}

.icon-emoji-smile:before {
    content: "\e90f";
    color: #fff;
}

.icon-camera-reels:before {
    content: "\e910";
    color: #fff;
}

.icon-box-arrow-right:before {
    content: "\e911";
    color: #fff;
}