@import "./owl.carousel.min";
@import "./owl.theme.default.min";
@import "./bootstrap.min";
@import "./bootstrap-select.min";
@import "./libs/datepicker.css";
@import "fonts";
@import "modules/variables";
@import "modules/typography";
@import "modules/navbar";
@import "modules/sidebar";
@import "modules/buttons";
@import "modules/nav-tabs";
@import "modules/datepicker";
textarea {
    resize: none;
    &.form-control {
        border: 1px solid $darkgreen;
        &::placeholder {
            color: $darkgrey;
            font-size: 16px;
        }
    }
}

iframe {
    border-radius: 20px;
}

.dropdown {
    .dropdown-menu {
        border-color: $silver;
        border-radius: 5px;
        padding: 8px 0;
        .dropdown-item {
            font-size: 16px;
            color: $black;
            padding: 7px 24px;
            &:focus,
            &:hover {
                background-color: #F8F9FA;
            }
            &.active,
            &:active {
                background-color: $lightgrey;
            }
        }
    }
}

.carousel-indicators [data-bs-target] {
    height: 2px;
    background-color: #D1D0D0;
    &.active {
        background-color: $darkgreen;
    }
}

label {
    font-size: 16px;
    color: $green;
    padding-bottom: 4px;
}

.form-check-label {
    color: $black;
}

.form-control {
    border-color: $silver;
    border-radius: 5px;
    padding: 10px 12px;
    &::placeholder {
        color: #868D96;
    }
}

.form-check-input {
    &:checked {
        background-color: $yellow;
        border: none;
    }
    &:focus {
        box-shadow: none;
        border-color: $silver;
    }
    &:active,
    &.active {
        background-color: transparent;
    }
}

.input-group.input-presentation {
    .input-group-text {
        border: 1px solid #DDDDDD;
        background-color: transparent;
        font-size: 20px;
        color: $green;
        padding: 12px 20px
    }
    .form-control {
        font-size: 16px;
        color: $white;
        background-color: $mediumseagreen;
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)!important;
        &::placeholder {
            color: $white;
        }
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: $yellow;
    cursor: inherit;
    display: block;
}

.file-input-label {
    font-size: 16px;
    color: $yellow;
    padding: 0px 22px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.progress {
    height: 24px;
}

.modal-content {
    border: none;
    .modal-header {
        background-color: $yellow;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .btn-close {
            margin: 0;
        }
        .modal-title {
            color: $white;
            font-size: 22px;
            margin: 0 auto;
        }
    }
    .modal-body {
        padding: 50px;
    }
    .modal-footer {
        padding: 0 50px 50px 50px;
    }
}

.owl-carousel {
    z-index: 0;
}

.current {
    .card {
        width: 480px;
        height: auto;
    }
}

.quick-access {
    .card {
        width: 347px;
        height: auto;
        .img-style {
            max-width: 150px;
            height: 150px;
        }
    }
}

.themed-packages {
    padding-bottom: 120px;
    .card {
        width: 620px;
        min-height: 592px;
        .img-style {
            max-width: 500px;
        }
    }
}

.report-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, $white 10%, #808080 100%);
    opacity: 0.7;
    height: 100%;
    z-index: 1;
}

.card-report {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.table> :not(caption)>*>* {
    padding: 16px 10px;
}

footer {
    background-color: #005848;
    .service-team-title {
        font-weight: 500;
        font-size: 44px;
        color: $white;
    }
    .address-description {
        font-weight: 500;
        font-size: 22px;
        color: $white;
    }
}

.bootstrap-select>.dropdown-toggle.btn-light {
    background-color: transparent;
    border: 1px solid #6C757D;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 1px solid #272D3B;
}

.form-check-input:checked[type=radio] {
    background-image: url('../images/check.svg');
    background-size: initial;
}

.reviews {
    p {
        font-size: 14px;
        color: $black;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 30px;
        margin-bottom: 32px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .p-40px {
        padding: 24px;
    }
    .pt-192px {
        padding-top: 120px;
    }
    .py-72px {
        padding: 48px 0;
    }
    .mb-32px {
        margin-bottom: 24px;
    }
}