@import "./owl.carousel.min";
@import "./owl.theme.default.min";
@import "./bootstrap.min";
@import "./bootstrap-select.min";
@import "./libs/datepicker";
@import "./libs/daterangepicker.css";
@import "fonts";
@import "modules/variables";
@import "modules/typography";
@import "modules/navbar";
@import "modules/sidebar";
@import "modules/dropdowns";
@import "modules/buttons";
@import "modules/modals";
@import "modules/nav-tabs";
@import "modules/datepicker";
@import "modules/utilities";
@import "modules/video-thumbnail";
@import "modules/video-viewer";
.carousel-indicators [data-bs-target] {
    height: 2px;
    background-color: #D1D0D0;
    &.active {
        background-color: $darkgreen;
    }
}

label {
    font-size: 16px;
    color: $green;
    padding-bottom: 4px;
}

.form-check-label {
    color: $black;
    vertical-align: sub;
}

.form-control {
    border-color: $silver;
    border-radius: 5px;
    padding: 10px 12px;
    &::placeholder {
        color: #868D96;
    }
}

.form-check-input {
    &:checked {
        background-color: $yellow;
        border: none;
    }
    &:focus {
        box-shadow: none;
        border-color: $silver;
    }
    &:active,
    &.active {
        background-color: transparent;
    }
}

.input-group {
    z-index: 0;
}

.input-group.input-presentation {
    .input-group-text {
        border: 1px solid #DDDDDD;
        background-color: transparent;
        font-size: 20px;
        color: $green;
        padding: 12px 20px
    }
    .form-control {
        font-size: 16px;
        color: $white;
        background-color: $mediumseagreen;
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)!important;
        &::placeholder {
            color: $white;
        }
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: $yellow;
    cursor: inherit;
    display: block;
}

.file-input-label {
    font-size: 16px;
    color: $yellow;
    padding-left: 22px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.progress {
    height: 24px;
}

.owl-carousel {
    z-index: 0;
}

.quick-access {
    .card {
        width: 340px;
        height: 340px;
        .img-style {
            max-width: 100%;
            height: 100px;
            object-fit: contain;
        }
    }
}

.films {
    .img-style {
        max-width: 100%;
        object-fit: contain;
    }
}

.reviews {
    .img-style {
        max-width: 100%;
        height: 167px;
        object-fit: contain;
    }
}

.themed-packages {
    .card {
        max-width: calc(100vw - 32px);
        width: 620px;
        .img-style {
            max-width: 100%;
            object-fit: contain;
            height: 300px;
        }
    }
}

.other-presentations {
    .img-style {
        max-width: 300px;
        @media (max-width: 1400px) {
            max-width: 220px;
        }
    }
}

.report-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #ebebeb 0, #000000 100%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16)!important;
    opacity: 0.8;
    height: 100%;
    z-index: 1;
    &.overlay-grey {
        background: linear-gradient(to bottom, #ebebeb 0, #808080 100%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)!important;
    }
}

.card-report {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.table> :not(caption)>*>* {
    padding: 16px 10px;
}

.table-sm > :not(caption) > * > * {
    padding: 0.25rem 0.25rem !important;
}

footer {
    background-color: #005848;
    .service-team-title {
        font-weight: 500;
        font-size: 44px;
        color: $white;
    }
    .address-description {
        font-weight: 500;
        font-size: 22px;
        color: $white;
    }
    .img-style {
        position: absolute;
        bottom: 0;
        left: 0;
        @media (min-width: 1200px) and (max-width: 1700px) {
            width: 380px;
            left: -80px;
        }
        @media (max-width: 1200px) {
            position: relative;
        }
        @media (max-width: 414px) {
            width: 100%;
        }
    }
}

.bootstrap-select {
    .selectpicker.warning+.btn-light {
        background-color: $yellow!important;
    }
}

.bootstrap-select>.dropdown-toggle.btn-light {
    background-color: transparent;
    border: 1px solid #DEE2E6;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0!important;
}

.selectpicker.dark+.btn-light {
    color: $black;
}

.selectpicker+.btn-light {
    color: $white;
    padding: 12px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 1px solid #272D3B;
}

.form-check-input:checked[type=radio] {
    background-image: url('../images/check.svg');
    background-size: initial;
}

.search-block {
    .btn-outline-success {
        font-weight: normal;
        font-size: 16px;
        padding: 12px 32px;
        color: $whitesmoke;
        background-color: transparent;
        border: 1px solid $whitesmoke;
        border-radius: 5px;
    }
}

.reviews {
    p {
        font-size: 14px;
        color: $black;
    }
}

.icon-block {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-block {
    position: absolute;
    top: 0;
    left: 0;
}

.block-center {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-size {
    font-size: 46px;
}

.report-title {
    font-size: 55px;
}

.report-subtitle {
    font-size: 24px;
}

.programs {
    .card {
        .badge {
            font-size: 18px;
            padding: 4px 6px;
            right: 15px;
        }
    }
    .item {
        .img-style {
            max-width: 489px;
        }
    }
}

.highlights {
    .card {
        .card-title {
            font-size: 40px;
            color: $green;
            &.font-size-18px {
                font-size: 18px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
            }
        }
        .card-text {
            font-size: 30px;
            color: $mediumseagreen;
            &.font-size-16px {
                font-size: 16px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
        .img-style {
            object-fit: cover;
            height: 100%;
        }
    }
}

.search-block {
    background-color: $darkgreen;
    padding: 14px 30px;
}

.login {
    min-height: 100vh;
    .login-block {
        background-color: $darkgreen;
        padding: 60px 80px;
        label {
            color: $white;
        }
    }
}

.no-booked-films-block {
    min-height: 400px;

    @media (max-width: 992px) {
        min-height: 200px;
    }
    @media (max-width: 576px) {
        min-height: 150px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .p-40px {
        padding: 24px;
    }
    .pt-192px {
        padding-top: 120px;
    }
    .pb-80px {
        padding-bottom: 46px;
    }
    .py-72px {
        padding: 48px 0;
    }
    .mb-32px {
        margin-bottom: 24px;
    }
    .btn-outline-success {
        font-size: 18px;
    }
    .themed-packages {
        .card {
            .img-style {
                height: 250px;
            }
        }
    }
    .quick-access {
        .card {
            width: 250px;
            height: 250px;
        }
    }
    .carousel-indicators {
        bottom: -38px
    }
    .popover-style {
        position: absolute;
        top: -4px;
        right: 0;
    }
    .programs {
        .item {
            .img-style {
                max-width: 350px;
            }
        }
    }
    footer {
        .service-team-title {
            font-size: 24px;
        }
        .address-description {
            font-size: 16px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1900px) {
    h2 {
        font-size: 28px;
    }
    .font-size-200px {
        font-size: 100px;
    }
    .font-size-80px {
        font-size: 50px;
    }
    .icon-size {
        font-size: 30px;
    }
    .report-title {
        font-size: 30px;
    }
    .report-subtitle {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .font-size-200px {
        font-size: 50px;
    }
    .font-size-80px {
        font-size: 50px;
    }
    .icon-size {
        font-size: 16px;
    }
    .report-title {
        font-size: 16px;
    }
    .report-subtitle {
        font-size: 16px;
    }
}