.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-success {
    font-weight: normal;
    font-size: 16px;
    padding: 9px 16px;
    color: $white;
    background-color: #218838;
    border: 3px solid #86C695;
    border-radius: 5px;
}

.btn-outline-success {
    font-weight: normal;
    font-size: 31px;
    padding: 17px 38px;
    color: #116154;
    background-color: $white;
    border: 3px solid #116154;
    border-radius: 50px;
}

.btn-danger {
    font-weight: normal;
    font-size: 16px;
    padding: 9px 16px;
    color: $white;
    background-color: #C82333;
    border: 2px solid #E08D95;
    border-radius: 5px;
}