.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-light {
    color: $white;
    padding: 12px 26px;
    &:active,
    &.active,
    &:focus,
    &:hover {
        color: $white!important;
        outline: 0;
    }
}

.btn-success {
    font-weight: normal;
    font-size: 16px;
    padding: 9px 16px;
    color: $white;
    background-color: #218838;
    border: 3px solid #86C695;
    border-radius: 5px;
}

.btn-outline-success {
    font-weight: normal;
    font-size: 20px;
    padding: 16px 38px;
    color: #116154;
    background-color: $white;
    border: 3px solid #116154;
    border-radius: 50px;
}

.btn-danger {
    font-weight: normal;
    font-size: 16px;
    padding: 9px 16px;
    color: $white;
    background-color: #C82333;
    border: 2px solid #E08D95;
    border-radius: 5px;
}

.btn-warning {
    font-weight: normal;
    font-size: 16px;
    padding: 12px 32px;
    color: $white;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
}

.btn-gradient {
    font-weight: normal;
    font-size: 16px;
    padding: 12px 32px;
    color: $black;
    background: linear-gradient(to bottom, $white, #DD963B);
    border: none;
    border-radius: 9px;
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}