.navbar {
    height: 70px;
    background-color: $darkgreen;
    border: none;
    .navbar-brand {
        margin: 0;
        img {
            height: 58px;
        }
    }
    &.main-navbar.scrolled {
        background-color: $darkgrey;
    }

    .sidebar-toggler {
        min-width: 32px;
    }

    .profile-dropdown-icon::before {
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        color: $white;
    }
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 224, 255, 0.6);
    padding: 0;
    &:hover {
        color: $white;
    }
    // @media (min-width: 992px) {
    //     font-size: 16px;
    // }
    @media (min-width: 768px) {
        padding: 0 24px;
    }
}