$desktop-sidebar-width: 255px;
$navbar-height: 70px;
$show-sidebar-breakpoint: 768px;
.sidebar-toggler {
    min-width: 22px;
    .visible-when-expanded {
        display: none;
    }
    .visible-when-collapsed {
        display: inline;
    }
    &.expanded {
        .visible-when-expanded {
            display: inline;
        }
        .visible-when-collapsed {
            display: none;
        }
    }
}

.sidebar {
    min-width: $desktop-sidebar-width;
    width: $desktop-sidebar-width;
    background: $darkgreen;
    position: fixed;
    height: calc(100vh - #{$navbar-height});
    top: $navbar-height;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;

    .sidebar-container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .nav-list {
            padding-left: 3px;
            margin-top: 25px;
            .nav-item {
                margin: 24px 0;
                list-style: none;
                .nav-link {
                    position: relative;
                    color: $seagreen;
                    padding-left: 16px;
                    .link-icon-container {
                        min-width: 40px;
                        display: inline-block;
                        text-align: center;
                        .link-icon {
                            font-size: 24px;
                            &:before {
                                color: $seagreen;
                            }
                        }
                    }
                    .link-title {
                        padding-left: 8px;
                    }
                    &:hover,
                    &.active {
                        color: $white;
                        .link-icon {
                            &:before {
                                color: $white;
                            }
                        }
                    }
                    &.active {
                        background: linear-gradient(to right, #3E8175, #237D61);
                        &::before {
                            display: block;
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 5px;
                            background-color: #56B8A9;
                            border-radius: 99px;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
        .sidebar-bottom {
            margin-top: auto;
        }
    }
}

.main-section {
    position: relative;
    background: linear-gradient(to bottom, #C9E2DC, #076758);
    min-height: calc(100vh - #{$navbar-height});
    top: $navbar-height;
    max-width: calc(100% - #{$desktop-sidebar-width});
    width: 100%;
    margin-left: $desktop-sidebar-width;
    border-left: 1px solid $black;
}

.btn-toggle-nav {
    &.list-unstyled {
        padding-left: 70px;
    }
    .toggle-item {
        padding: 6px 0;
        .toggle-link {
            font-weight: bold;
            font-size: 16px;
            color: $seagreen;
            &.active,
            &:active {
                color: $white;
            }
        }
    }
}

@media (max-width: $show-sidebar-breakpoint) {
    .sidebar {
        display: none;
        z-index: 1040;
        &.show {
            display: block;
            box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
        }
    }
    .main-section {
        margin-left: 0px;
        max-width: initial;
        padding-left: 0px;
        padding-right: 0px;
    }
}