body {
    font-family: 'HelveticaNeue';
}

p {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input {
    outline: none;
}

h1 {
    font-weight: 500;
    font-size: 49px;
    color: $green;
}

h2 {
    font-weight: bold;
    font-size: 34px;
    color: $green;
}

h3 {
    font-weight: 500;
    font-size: 26px;
    color: $green;
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

h5 {
    font-weight: bold;
    font-size: 15px;
}

p {
    font-weight: bold;
    font-size: 22px;
}

.font-family-second {
    font-family: 'Gilroy', sans-serif;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-18px {
    font-size: 18px!important;
}

.font-size-24px {
    font-size: 24px!important;
}

.font-size-48px {
    font-size: 48px;
}

.font-size-60px {
    font-size: 60px;
}

.font-size-80px {
    font-size: 80px;
}

.font-size-200px {
    font-size: 200px;
}

.text-primary {
    color: $pink!important;
}

.text-light {
    color: rgba(224, 224, 255, 0.6)!important;
}

.text-white {
    color: $white!important;
}

.text-success {
    color: $darkgreen!important;
}

.text-green {
    color: $mediumseagreen;
}

.text-light-green {
    color: #5F958C;
}

.text-warning {
    color: $yellow!important;
}

.text-danger {
    color: $pink!important;
}

.text-muted {
    color: $grey!important;
}

.text-secondary {
    color: $darkgrey!important;
}

.rounded {
    border-radius: 12px!important;
}

.rounded-pill {
    border-radius: 30px!important;
}

.shadow {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16)!important;
}

textarea {
    resize: none;
    &.form-control {
        border: 1px solid $darkgreen;
        &::placeholder {
            color: $darkgrey;
            font-size: 16px;
        }
    }
}

.icon-padding {
    padding: 12px 26px!important;
}

iframe {
    border-radius: 20px;
}

.bg-light {
    background: rgba(245, 69, 98, 0.03)!important;
}

.bg-secondary {
    background: rgba(224, 224, 255, 0.02)!important;
}

.bg-dark {
    background: $black!important;
}

.bg-success {
    background-color: $green!important;
}

.bg-none {
    background: none!important;
}