.py-72px {
    padding: 72px 0;
}

.p-40px {
    padding: 40px;
}

.pt-192px {
    padding-top: 192px;
}

.pb-80px {
    padding-bottom: 80px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mb-37px {
    margin-bottom: 37px;
}

.mb-72px {
    margin-bottom: 72px;
}

.w-70 {
    width: 70%;
}

.w-24 {
    width: 24px;
}

.z-index-1 {
    z-index: 1;
}

.mh-160px {
    max-height: 160px;
}