$black: #212429;
$darkgrey: #282A2E;
$pink: #F54562;
$green: #005848;
$white: #FFFFFF;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
h1 {
    font-weight: 500;
    font-size: 49px;
    color: #116154;
}

h2 {
    font-weight: bold;
    font-size: 33px;
    color: #116154;
}

h3 {
    font-weight: 500;
    font-size: 26px;
    color: #116154;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    color: $white;
}

p {
    font-weight: bold;
    font-size: 22px;
    color: #188473;
}

.font-family-second {
    font-family: 'Gilroy', sans-serif;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-48px {
    font-size: 48px;
}

.text-primary {
    color: $pink!important;
}

.text-light {
    color: rgba(224, 224, 255, 0.6)!important;
}

.text-white {
    color: $white!important;
}

.text-success {
    color: $green!important;
}

.text-danger {
    color: $pink!important;
}

.rounded {
    border-radius: 12px!important;
}

.rounded-pill {
    border-radius: 20px!important;
}

.shadow {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16)!important;
}

.bg-light {
    background: rgba(245, 69, 98, 0.03)!important;
}

.bg-secondary {
    background: rgba(224, 224, 255, 0.02)!important;
}

.bg-dark {
    background: $black!important;
}

.bg-success {
    background: rgba(0, 255, 170, 0.03)!important;
}

.py-72px {
    padding: 72px 0;
}

.p-40px {
    padding: 40px;
}

.pt-192px {
    padding-top: 192px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mb-72px {
    margin-bottom: 72px;
}

.w-70 {
    width: 70%;
}

.w-24 {
    width: 24px;
}

.z-index-1 {
    z-index: 1;
}