$black: #212429;
$darkgrey: #282A2E;
$pink: #F54562;
$darkgreen: #005848;
$green: #116154;
$seagreen: #408276;
$mediumseagreen: #188473;
$yellow: #DD963B;
$lightgrey: #D1D0D0;
$darkgrey: #868D96;
$silver: #E0E0E0;
$white: #FFFFFF;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);